html, body {
  margin: 10px;
  padding: 10px;
  text-align: center;
  background: black;
}

h1, h2 {
  color: #62f79e;
}

.grid {
  width: 400px;
  height: 400px;
  border: solid 2px #195927;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.grid div {
  width: 40px;
  height: 40px;
}

.snake {
  background-color: #4c7f57;
}

.fruit {
  font-size: 28px;
}

#score {
  color: #4c7f57;
}

#start {
  background: #4c7f57;
  padding: 15px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 10px;
  outline: none;
}

#start:hover {
  background: #62f79e;
  padding: 20px;
  font-size: 22px;
  color: #4c7f57;
}